.navbar-expand-lg{
    background-color: rgb(61, 110, 216) !important;
}
.nav-link{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.left{
    padding-top: 100px;
}
.left-title{
    margin-bottom: 50px;
}
.left p{
    margin-bottom: 50px;
}
.left button{
    border: none;
    height: 73px;
    width: 177px;
    border-radius: 38px;
    background-color: transparent;
    border: 2px solid white;
    transition:  0.3s;
}
.left button:hover{
    background-color: rgb(61, 110, 216);
}
.left h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.left p{
    color: white;
    font-size: 20px;
}
.left button h3{
    font-size: larger;
    font-weight: 700;
}
.navbar-nav li{
    margin-left: 35px;
}
#first{
    margin-left: 80px;
    background-image:url(./image/back-img.svg);
}
.right{
    margin-top: 50px;
}
.second .col-lg-4{
    width: 440px;
    height: 354px;
    margin-top: 50px;
    padding: 42px;
}
.second{
    margin-top: 80px;
}
.icon{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #5864ff;
    height: 119px;
    width: 120px;
    border-radius: 50%;
    margin-left: 115px;
    background-color: rgba(88,100,255,.1);
}
.icon i{
    font-size: 80px;
}
.col-lg-4 h3{
    margin-left: 104px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #162447;
}
.col-lg-4 p{
    color: #838383;
    font-size: 20px;
    margin-left: 30px;
}
#third{
    margin-top: 222px;
}
.third-right h3{
    color: #162447;
}
.third-right p{
    color: #838383;
    font-size: 20px;
    margin-top: 20px;
}
.third-right button{
    border: none;
    height: 73px;
    width: 177px;
    margin-top: 20px;
    border-radius: 38px;
    background-color: transparent;
    border: 2px solid #5864ff;
}
.third-right button h3{
    color: #5864ff;
    font-size: 21px;
}
.bc{
    z-index: 1;
    position: relative;
}
.ab{
    position: absolute;
    z-index: 2;
    margin-top: 133px;
}
.cd{
    position: absolute;
    margin-top: 520px;
    z-index: 9;
}
#fourth{
    margin-top: 222px;
}
.fourth-left h3{
    color: #162447;
}
.fourth-left p{
    color: #838383;
    font-size: 20px;
    margin-top: 20px;
}
.fourth-left button{
    border: none;
    height: 73px;
    width: 177px;
    margin-top: 20px;
    border-radius: 38px;
    background-color: transparent;
    border: 2px solid #5864ff;
}
.fourth-left button h3{
    color: #5864ff;
    font-size: 21px;
}
.b1{
    z-index: 1;
    position: relative;
    transform: scaleX(-1);
}
.a1{
    position: absolute;
    z-index: 2;
    margin-top: 133px;
}
.c1{
    position: absolute;
    z-index: 9;
}
#fifth{
    background-color: rgba(88,100,255,.1);
}
.col-lg-12 h2{
    margin-left: 481px;
    margin-top: 50px;
}
.col-lg-12 p{
    width: 500px;
    margin-left: 429px;
    margin-bottom: 100px;
    margin-top: 30px;
}
#slider{
    margin-top: 70px;
    margin-bottom: 70px;
}
